<p><%=@employee.name.captalize%>
<p><%=@employee.title.capitalize%> </p>
<p><%=@employee.division.capitalize%> </p>

<a href="/employees/<%=@employee.id%>/delete"> Remove employee from Database</a> <br>